In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head(2)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0

In [6]:
df = df[ ['text','label_num'] ]
df.head(2)

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0
1  Subject: hpl nom for january 9 , 2001\r\n( see...          0

In [7]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\asus\miniconda3\envs\my-env\lib\site-packages (from click->nltk) (0.4.6)

In [13]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
# hediye -> HEDİYE ->
# Hediye, hediye
import string

ps = nltk.stem.porter.PorterStemmer()

def clean_text(text):
    text = text.lower() # Bütün harfleri küçük yap.

    text = text.translate(str.maketrans('','', string.punctuation)) # Bütün noktalama işaretlerini kaldır.

    # "Merhaba,Dünya."
    # ["merhaba","dünya"]
    words = text.split() # default => Boşluk Merhaba Dünya => ["Merhaba","Dünya"]   #Merhaba,dünya,abc -> ["Merhaba","dünya","abc"]

    words = [ word for word in words if not word.isdigit() ] # "500 TL" "4.5G" "3D" -> Yalnızca numerik kelimeler alınmayacak.
    # Stem -> Kelimeleri köküne indirgemek -> Running,Run -> RUN
    # Remove Stopwords -> The, is, at, on
    # Superhero - The Superhero
    words = [ ps.stem(word) for word in words if word not in nltk.corpus.stopwords.words('english') ]

    return " ".join(words)

In [22]:
df.head(3)

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0
1  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...          0

In [ ]:
df['clean_text'] = df['text'].apply(clean_text)