In [ ]:
#orm -> SQLAlchemy

In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\pc1\miniconda3\envs\my_env\lib\site-packages (2.9.10)

In [2]:
import psycopg2
connection = psycopg2.connect(
    dbname="testdb",
    user="postgres",
    password="1234",
    host="193.203.191.79",
    port= "32001"
)

In [5]:
query = "Select * from users"

In [6]:
import pandas as pd

df = pd.read_sql(query, connection)
df.head(1)
connection.close()

C:\Users\PC1\AppData\Local\Temp\ipykernel_30512\530656066.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

In [7]:
df.head(1)

,id,name,email,review,rating
0,1,Raymond Howard,erodriguez@example.net,Partner trouble serious sign bar follow. Assum...,6.8

In [8]:
texts = df['review'].values
ratings = df['rating'].values

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(texts, ratings, test_size=0.3, random_state=42)

In [13]:
#!pip install tensorflow

In [15]:
# Tokenization, Tokenizer
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer(num_words=10000, oov_token='<OOV>') #Tokenizer bilmediği (öğrenmediği) bir kelimele ile karşılaştığında o kelimeye <OOV> ve buna karşılık gelen değeri verir.
tokenizer.fit_on_texts(X_train)